<style>
* {
  font-family: arial;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
}

.red {
  color: red;
  font-weight: bold;
}

.amber {
  color: #ffbf00;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.Container {
   width: 750px;
   color: #000000;
   padding: 6px;
   text-align: justify;
}

.TestSuiteLibraryTitle {
   font-weight: bold;
   height: 60px;
   font-size: 24px;
   text-aling: center;
}

.TestSuiteTitle{
   color: #009EE0;
   
   padding 6px;
   font-weight: bold;
   text-aling: left;
   font-size: 24px;
}

.TestSuiteDescription{
   padding 6px;
}

.TestCase {
   display: block;
   width: 100%;
}

.TestCaseHeading, .TestCaseBody, .TestCaseFoot, .TestCaseRow {
   clear: both;
}

.TestCaseHead, .TestCaseFoot{
   font-weight: bold;
   width: 20%;
   padding: 4px;
}

.TestNestedHeadValue{
   width: 85%;
   float: left;
}

.TestCaseHeadType{
   font-weight: bold;
   width: 15%;
   float: left;
}



.TestCaseHeadFirst{
   font-weight: bold;
   width: 100%;
   float: left;
   font-size: 20px;
}

.TestCaseCellFirst{
   width: 80%;
   float: left;
   padding: 4px;
   background-color: #b7b7b7;
}

.TestCaseCell{
   width: 80%;
}

.TestCaseCellFull{
   float: left;
   width: 100%;
}

.TestCaseNested{
   display: block;
   width: 100%;
}

.TestCaseNestedHeading, .TestCaseNestedBody, .TestCaseNestedFoot, .TestCaseNestedRow {
   clear: both;
}

.TestCaseNestedHeadValue{
   width: 85%;
   float: left;
}

.TestCaseNestedHeadType{
   font-weight: bold;
   width: 15%;
   float: left;
}


.TestCaseNestedCellFull{
   float: left;
   width: 100%;
}

.TestCaseNested:after{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.Dependencies{
   display: block;
   width: 100%;
}

.DependenciesHeadings, .DependenciesBody, .DependenciesFoot, .DependenciesRow {
   clear: both;
}


.DependenciesHeadValue{
   font-weight: bold;
   width: 80%;
   float: left;
}

.DependenciesHeadType{
   font-weight: bold;
   width: 20%;
   float: left;
}

.DependenciesCellValue{
   width: 80%;
   float: left;
}

.DependenciesCellType{
   width: 20%;
   float: left;
}

.Dependencies:after{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.Tests{
   display: block;
   width: 100%;
}

.TestsHeadings, .TestsBody, .TestsFoot, .TestsRow {
   clear: both;
}


.TestsHeadValue{
   font-weight: bold;
   width: 80%;
   float: left;
}

.TestsHeadType{
   font-weight: bold;
   width: 20%;
   float: left;
}

.TestsCellValue{
   width: 80%;
   float: left;
   border-top: thin dashed;
   border-color: #999999;
}

.TestsCellType{
   width: 20%;
   float: left;
   border-top: thin dashed;
   border-color: #999999;
   color: #009EE0;
   font-size: 12px;
   font-weight: bold;
}

.TestsCellFull{
   
   width: 100%;
   float: left;
}

.Tests:after{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.TestSteps{
   border-collapse: collapse;
   width: 100%;
}

.TestSteps th{
   text-align: center;
   font-size: 12px;
   border-top: none;
   color: #000000;
   float: left;
}

.TestSteps td{
   font-weight: normal;
   border-top: none;
   color: #000000;
   text-align: center;
   font-size: 12px;
   float: left;
}


.TestParameters{
   ;border-collapse: collapse;
   width: 100%;
}

.TestParameters th{
   text-align: center;
   font-size: 12px;
   border-top: none;
   color: #000000;
   float: left;
}

.TestParameters td{
   font-weight: normal;
   border-top: none;
   color: #000000;
   text-align: center;
   font-size: 12px;
   float: left;
   border-top: thin dashed;
   border-color: #999999;
}


.Rationale{
   border-collapse: collapse;
   width: 100%;
   font-size: 12px;
}

.Rationale{
   
   float: left;
}

.RationaleHead{
   text-align: justify;
   vertical-align: middle;
   font-weight: bold;
   width: 20%;
}

.RationaleFirstCol{
   text-align: justify;
   vertical-align: middle;
   width: 10%;
}

.RationaleSecondCol{
   text-align: justify;
   vertical-align: middle;
   width: 70%;
}
</style>




